
*.o
*.xml
.stack-work/dist/e626a42b/build/.stack-work/dist/e626a42b/build/autogen/Paths_wordsPuzzle.dump-hi
.stack-work/dist/e626a42b/build/autogen/cabal_macros.h
.stack-work/dist/e626a42b/build/autogen/Paths_wordsPuzzle.hs
.stack-work/dist/e626a42b/build/Lib.hi
.stack-work/dist/e626a42b/build/libHSwordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ.a
.stack-work/dist/e626a42b/build/Paths_wordsPuzzle.hi
.stack-work/dist/e626a42b/build/src/Lib.dump-hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/autogen/cabal_macros.h
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/autogen/Paths_wordsPuzzle.hs
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/.stack-work/dist/e626a42b/build/wordsPuzzle-exe/autogen/Paths_wordsPuzzle.dump-hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/Algorithm.hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/app/Algorithm.dump-hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/app/Main.dump-hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/Main.hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe-tmp/Paths_wordsPuzzle.hi
.stack-work/dist/e626a42b/build/wordsPuzzle-exe/wordsPuzzle-exe.exe
.stack-work/dist/e626a42b/package.conf.inplace/package.cache
.stack-work/dist/e626a42b/package.conf.inplace/package.cache.lock
.stack-work/dist/e626a42b/package.conf.inplace/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ.conf
.stack-work/dist/e626a42b/setup-config
.stack-work/dist/e626a42b/stack-build-caches/exe-wordsPuzzle-exe
.stack-work/dist/e626a42b/stack-build-caches/lib
.stack-work/dist/e626a42b/stack-cabal-mod
.stack-work/dist/e626a42b/stack-config-cache
.stack-work/install/c18ecf42/bin/wordsPuzzle-exe.exe
.stack-work/install/c18ecf42/doc/wordsPuzzle-0.1.0.0/LICENSE
.stack-work/install/c18ecf42/flag-cache/call-stack-0.1.0-J1eWgTNOnM4IGVyeW0v2YZ
.stack-work/install/c18ecf42/flag-cache/hslogger-1.2.12-A5ApOT17anmBRwB4TcOKgE
.stack-work/install/c18ecf42/flag-cache/HUnit-1.6.0.0-C6N9GX1vz2Z4nPL5JbE3ac
.stack-work/install/c18ecf42/flag-cache/MissingH-1.4.1.0-7UymEzXHXvNA7b9ax70XH6
.stack-work/install/c18ecf42/flag-cache/network-2.8.0.0-2CyxvHbPvRZAIM6yl0QQaq
.stack-work/install/c18ecf42/flag-cache/old-locale-1.0.0.7-D4Rn5zPhtMJBwwirPJNu78
.stack-work/install/c18ecf42/flag-cache/old-time-1.1.0.3-2XkcGgLYS3G4Bt8PCBG9iL
.stack-work/install/c18ecf42/flag-cache/random-1.1-3ypV4EIycgb35PKjTYYr5q
.stack-work/install/c18ecf42/flag-cache/regex-base-0.93.2-8QGsCbNNqfw1S2nCPh78l5
.stack-work/install/c18ecf42/flag-cache/regex-compat-0.95.1-KWHpBxMrkPb1MX7UzruPB9
.stack-work/install/c18ecf42/flag-cache/regex-posix-0.95.2-jmiKTXBn5tB7yYph2GqnC
.stack-work/install/c18ecf42/flag-cache/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ
.stack-work/install/c18ecf42/lib/x86_64-windows-ghc-8.6.3/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ/Lib.hi
.stack-work/install/c18ecf42/lib/x86_64-windows-ghc-8.6.3/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ/libHSwordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ.a
.stack-work/install/c18ecf42/lib/x86_64-windows-ghc-8.6.3/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ/Paths_wordsPuzzle.hi
.stack-work/install/c18ecf42/pkgdb/package.cache
.stack-work/install/c18ecf42/pkgdb/package.cache.lock
.stack-work/install/c18ecf42/pkgdb/wordsPuzzle-0.1.0.0-Co756gz0vuEB2hE49PNZZJ.conf
.stack-work/logs/call-stack-0.1.0.log
.stack-work/logs/hslogger-1.2.12.log
.stack-work/logs/HUnit-1.6.0.0.log
.stack-work/logs/MissingH-1.4.1.0.log
.stack-work/logs/network-2.8.0.0.log
.stack-work/logs/old-locale-1.0.0.7.log
.stack-work/logs/old-time-1.1.0.3.log
.stack-work/logs/random-1.1.log
.stack-work/logs/regex-base-0.93.2.log
.stack-work/logs/regex-compat-0.95.1.log
.stack-work/logs/regex-posix-0.95.2.log
spop-puzzle.iml
